fastapi
uvicorn
pydantic
python-multipart
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface

chromadb
sentence-transformers
transformers
torch

huggingface-hub
numpy
requests

google-generativeai
google-api-core
google-cloud-texttospeech

beautifulsoup4
selenium
tqdm
scikit-learn